@import '@/styles/variables.less';

.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .layout-container {
    color: #dcebf0;
    background-color: #243c61;
    width: 100%;
    height: 100%;
  }

  .base-button {
    position: absolute;
    right: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4b9194;
    color: #dcebf0;
    font-size: @base-font-size;
    margin: 10px;
    &:hover {
      background-color: #409fc5;
    }
  }
  .header {
    margin: auto;
    height: @header-height;
    display: flex;
    align-items: center;
    justify-content: center;
    #logo {
      position: absolute;
      left: 40px;
    }
  }
}
