@import '@/styles/variables.less';
.left-aside {
  width: @left-aside-width;
  .navigation {
    background-color: @theme-color;
    border: none;

    .el-menu-item:hover {
      background-color: @theme-color;
    }

    .nav-item {
      font-size: 14px;
      color: #dcebf0;
      border-radius: 5px;
      width: 70px;
      padding: 0px 10px;

      &active {
        background-color: #ffffff27;
      }
    }

    .nav-item:hover {
      background-color: #ffffff27;
    }
  }
}
